<dom-module id="cells-iris-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-iris-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host h1 {
  color: #448aff;
  font-weight: bold; }

:host input {
  border-radius: 0.5em;
  border: 2px solid #448aff;
  cursor: pointer;
  width: 22em;
  height: 1.9em; }

:host .error {
  border: 2px solid red; }

:host .ok {
  border: 2px solid green; }

:host .txt {
  text-align: left;
  margin-left: 11em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold; }

:host .btn {
  border-radius: 0.5em;
  border: 2px solid #448aff;
  background: #448aff;
  color: white;
  font-size: 14px;
  width: 22em;
  height: 1.9em;
  cursor: pointer; }

button:hover {
  background: white;
  border: 2px solid #448aff;
  color: #448aff; }

.marg-16 {
  margin-top: 1em; }

.card {
  margin: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.5em;
  padding: 20px;
  text-align: center; }

</style></template></dom-module>